{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<form action="" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <div class="d-flex justify-content-between">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.history.back()">Back</button>
                <button type="submit" class="btn btn-sm btn-outline-secondary">Save</button>
            </div>
        </div>
    {% endbuttons %}
</form>
{% endblock %}